<!DOCTYPE html>
<html>
  <head>
    <title>Zafiroapp salud</title>
    <meta name="description" content="Plataforma de software medico Somos una plataforma tecnológica que brinda un perfil para cada ente del sistema de salud ">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>  


 
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132757324-3"></script>
    <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
       gtag('config', 'UA-132757324-3');
     </script>
      <!-- sidebar -->
      <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>              
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>        
      <!-- carrouser team y especialidades -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  </head>
  <body>
    <header>
      <div class="parteInicial ">
        <!-- side barra de navegacion  -->    
        <%= render 'partials/navbar' %>
        <%= render 'partials/alerts' %>
      </div>
    </header>    
    <br><br><br><br>
    <div class="container">
      <div class="row">     
        <div class="contenidoPrincipal">
          <main>
            <%= yield %>
          </main>  
      
          <%= render 'partials/footer' %>

        </div> 
        
    </div>


    </div>
    <%= render 'partials/ui-js' %>

  </body>
</html>
